# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# TypeScript incremental build cache
*.tsbuildinfo

# Logs
logs/
*.log

# Temp
.temp/
.tmp/
tmp/
